.contactWrap {
    background-color: rgb(236, 236, 236);
}

.contactTitle {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.contactTitle>p {
    margin: 0;
    padding: 32px;
}

.contactContentWrap {
    padding: 0 0 50px 0;
}

.contactContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentImg {
    height: 40px;
}

.githubImg {
    height: 60px;
    cursor: pointer;
}

.contentText {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0 10px;
    color: #595959;
}

.content {
    font-size: 1rem;
    font-weight: 600;
    padding: 0 20px;
}