.gnb {
    z-index: 999;
    height: 3rem;
    width: 100%;
    max-width: 600px;
    display: flex;
    position: fixed;
    right: 10%;
    background-color: rgba(25, 25, 25, 0.8);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #e0e0e0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gnb>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gnb>ul>li {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-weight: 600;
}

.gnb>ul>li:hover {
    background-color: rgba(202, 202, 202, 0.3)
}

.gnb>ul>li:first-child {
    border-bottom-left-radius: 15px;
}

.gnb>ul>li:last-child {
    border-bottom-right-radius: 15px;
}



.gnbMobile {
    z-index: 999;
    background-color: rgba(25, 25, 25, 0.8);
    color: #e0e0e0;

    position: fixed;
    width: 100vw;
    height: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    display: flex;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gnbMobile>ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.gnbMobile>ul>li {
    font-weight: 600;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.gnbMobile>ul>li:hover {
    background-color: rgba(202, 202, 202, 0.3)
}