.mainContent {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("assets/imgs/mainImg.webp");
    /* transform: translateZ(0); */
    /* will-change: transform; */
}

.typer {
    color: #ededed;
    font-weight: 600;
    font-size: 3em;
}

@media screen and (max-width: 768px) {
    .typer {
        font-size: 5vw;
    }
}