:root {
    --company-bg-color: rgb(220, 220, 220);
    --project-bg-color: rgb(205, 205, 205);
}

* {
    font-family: 'Noto Sans KR','Apple SD Gothic Neo', Sans-serif;

    -webkit-tap-highlight-color: transparent;
}

.searchBox {
    background-color: white;
}

.wrapTitle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.topBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    width: 30px;
    height: 70px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.topBtn>img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    position: relative;
    bottom: 0;
}

.topBtn>img:hover {
    animation: motion 0.5s linear 0s infinite alternate;
}

@keyframes motion {
    0% {
        bottom: 0;
    }

    100% {
        bottom: 10px;
    }
}
