:root {
    --bg-color: rgb(220, 220, 220);
}

.customSelectBox {
    width: 60px;
    height: 38px;
    background-color: var(--bg-color);
    border: none;
    border-bottom: 1px dashed #8c8c8c;
    outline: none;
}