.gnb {
    height: 3rem;
    width: 100%;
    max-width: 600px;
    display: flex;
    position: fixed;
    right: 10%;
    background-color: rgba(202, 202, 202, 0.7);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.gnb>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gnb>ul>li {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-weight: 600;
}

.gnb>ul>li:hover {
    background-color: rgba(202, 202, 202, 0.3)
}

.gnb>ul>li:first-child {
    border-bottom-left-radius: 15px;
}

.gnb>ul>li:last-child {
    border-bottom-right-radius: 15px;
}