.mainContent {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("assets/imgs/mainImg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContent>img {
    width: 100vw;
}