.workWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(220, 220, 220);
    padding: 50px 0;
}

.workTitle {
    font-size: 2rem;
    text-align: center;
}

.workContext {
    cursor: default;
    width: 100%;
    max-width: 1024px;
}

.wokrs {
    padding: 30px 50px;
}

.worksMobile {
    padding: 20px;
}

.bar {
    padding: 0 10px;
    color: #7d7d7d;
}

.companyNm {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(46, 26, 26);
}

.workDt {
    font-size: 1.2rem;
    font-weight: 600;
}

.workingList>p {
    line-height: 2rem;
    margin: 10px 0;
    word-break: keep-all;
}

.workingList {
    margin-left: 50px;
    font-size: 1.2rem;
    padding: 5px 0;
}

.setPortfolio {
    cursor: pointer;
    position: relative;


}

.setPortfolio:hover {
    color: #0645AD;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-position: under;
}

.setPortfolio::after {
    content: "Click";
    font-weight: 400;
    font-size: 0.5rem;
    position: relative;
    left: 5px;
    color: #888;
}

.work {
    font-size: 1rem;
    font-weight: 600;
}

.workSkill {
    font-size: 1.2rem;
    color: #060753;

    position: relative;
}

.workWrap:hover .workSkill {
    animation-name: motionWork;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
}


@keyframes motionWork {
    0% {
        /* bottom: -1px; */
        /* font-size: 1.2rem; */
        opacity: 1;
        font-weight: 600;
    }
    
    100% {
        color: #3d3d3d;
        opacity: 0.6;
        font-weight: 400;
    }
}